.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-label {
  font-size: 32px;
  font-weight: 600;
  color: orange;
}

.modal-description {
  font-size: 32px;
  font-weight: 600;
  color: orange;
  margin-top: 20px;
}
